<h1><%= @recipe_details[0]["recipe"] %></h1>

<h2>Description</h2>
<%= @recipe_details[0]["description"] %>

<h2>Instructions</h2>
<%= @recipe_details[0]["instructions"] %>
<h2>Ingredients</h2>

<ul>
  <%@recipe_details.each do |ingredient|%>
  <li><%= ingredient["ingredients"] %></li>
  <%end%>
</ul>
