<div>
<a href="/recipes">Back to All Recipes</a>
</div>

<h1><%= @recipe_details[0]["recipe"] %></h1>

<% if @recipe_details[0]["description"] != nil %>
  <h2>Description</h2>
<%end%>
<%= @recipe_details[0]["description"] %>
<% if @recipe_details[0]["instructions"] != nil %>
  <h2>Instructions</h2>
  <%= @recipe_details[0]["instructions"].gsub(/[\n\t]/, '<p>') %>
<%end%>
<h2>Ingredients</h2>
<ul>
 <%@recipe_details.each do |ingredient|%>
  <li><%= ingredient["ingredients"] %></li>
  <%end%>
</ul>
